{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block content %}
<section class="login section register  d-flex flex-column align-items-center justify-content-center py-4" style="    min-height: 94vh !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <div class="card mb-3" style= "border-color: #d1ebf5;
          border-width: 2px;">
              <div class="card-body" style="    padding: 47px;">
                  <div class="pt-4 pb-2"><h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                  </div>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post"   action="{% url 'login' %}" style=" color: #5dbfe8;" class="loginform">
    {% csrf_token %}
   {% bootstrap_form form %}
    
   
    <input type="submit" value="login" class="boxed-btn3 w-100" 
    style="      
                        font-size: 19px;
                        
                        text-align: center;
                        font-style: normal;
                        font-family: cursive;
                        font-weight: 100;
                        display: block;
                        width: 120px !important;
                        margin: auto; border: 2px solid var(--main-color) !important;
                        animation: none;
                        color: white;
                        background-color: #5dbfe8;
                        border-radius: 5px;
                        padding: 4px 0;
                        margin-top: 11px; "
    />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}" style="    text-align: center;
    
    display: block;
    margin-top: 14px;
    font-size: 15px;
    color: blue;
    font-weight: 700;">Lost password ?</a></p>
</div>
 {# do not have account #}
<p style="text-align: center; margin-top: -22px;">
  Do not have account?
  <a href="{% url 'accounts:signup' %}" style="text-align: center;margin-top: 14px;font-size: 15px;color: blue;font-weight: 700;"> Signup

  </a>
</p>
</div>


</div>
</div>
</div>
</div>
</section>

<footer style="width:100%; bottom: 0px;position: absolute;">
  <span>Created By <a href="https://www.facebook.com/mahmoudsyam99/">Our Team</a> | <span class="far fa-copyright"></span>  2022 All rights reserved.</span>
</footer>

{% endblock content %}