{% extends "base2.html" %}
{% load bootstrap4 %}

{% block content %}

<section class="login section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
      <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
      <div class="card mb-3" style= "border-color: #d1ebf5; border-width: 2px;">
      <div class="card-body">
                  
  <form action="" method="post" style=" color: #5dbfe8;">
  {% csrf_token %}
  {% bootstrap_form form%}
    <input type="submit" class="btn btn-default btn-lg  boxed-btn3 w-100" value="Change password" style="      
    font-size: 19px;
    
    text-align: center;
    font-style: normal;
    font-family: cursive;
    font-weight: 100;
    display: block;
    width: 120px !important;
    margin: auto; border: 2px solid var(--main-color) !important;
    animation: none;
    color: white;
    background-color: #5dbfe8;
    border-radius: 5px;
    padding: 4px 0;
    margin-top: 11px; "/>
  </form>
      </div>
      </div>
      </div>
      </div>
  </div>
</section>

<footer style="width:100%; bottom: 0px;position: absolute;">
  <span>Created By <a href="https://www.facebook.com/mahmoudsyam99/">Our Team</a> | <span class="far fa-copyright"></span>  2022 All rights reserved.</span>
</footer>

  
{% endblock content %}