{% extends 'base.html' %}

{% block content %}


<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
    
        <form action="#">
            
            <div class="form-input">
                
                
                <h1 class="h_a"><i class='bx bx-desktop' ></i>&nbsp; Welcome, the admin can control and modify the existing data</h1>
                 
                
            </div>
            
        </form>
         
                
        <input type="checkbox" id="switch-mode" hidden>
        
        
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    
    
    
    <div class="pages_admein">
        
          <div class="service" >
              
        <h2>SERVICES WE OFFER</h2>
        <p>Administration hospital data and information by arranging data</p>
              <br>
        <hr>
        <div class="contaner">
            <div class="box3">
                <span style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                    <i class='bx bxs-user-detail' ></i></span>
                
                <h4>Administration</h4>
                <p>It enhances information integrity by a reduction in transcription errors and duplication of information entries.</p>
                
            </div>
            
            
            <div class="box3">
                <span style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                       <i class='bx bx-edit'></i></span>
                <h4>Data Entry</h4>
                <p>You can enter all the data related to the administrative operations of the hospital, save and modify it.</p>
            </div>
            
            
            <div class="box3">
                <span style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                    
                <i class='bx bx-news'></i></span>
                <h4>facilitation</h4>
                <p>It reduces expenses of an organization because of less paperwork, improved safety, and reduced duplication of testing.</p>
            </div>
            
            
            <div class="box3">
                <span 
                      style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                    <i class='bx bx-id-card'></i></span>
                <h4>Reception Management</h4>
                <p>Reception Management module of manages front desk reception activities. Status of any patient/doctor can be queried from this module .</p>
            </div>
            
            
            <div class="box3">
                <span
                      style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                    <i class='bx bx-task'></i></span>
                <h4>Management Information</h4>
                <p>System Software allows easy access to patient data to generate various records, including classification based on demographic</p>
            </div>
            
            <div class="box3">
                <span style="  
                             font-size: 45px;
                             float: left;
                             color: #3c91e6;">
                    
                    <i class='bx bx-folder-open'></i></span>
                <h4>Medical Data</h4>
               <p>Medical Data module takes care of all the medical data of the patient. Patient's intake, outtake, Medication, reading.</p>
            </div>

        
        </div>
    
    
    
    </div>
    
        
        
        
      
        </div>    
     
    
    <!-- MAIN -->
</section>
<!-- CONTENT -->
	

{% endblock content %}




	 