{% extends 'base.html' %}



{% block content %}

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
		
			<form action="#">
				<div class="form-input">
                    
                    
					  <h1 class="h"><i class='bx bx-accessibility' ></i>&nbsp; All the data about the Patients</h1>
                    
				</div>
			</form>
            
                    
            <h3 style="font-size: 24px;
			color: #0dcaf0;
			font-family: -webkit-body;
			font-weight: 600;">
				
            Hello {{request.user}}
        </h3>  
			
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main></main>
        
        
        <center style="text-align: end; margin-bottom: 10px;">
            <form class="" method="POST" action="{% url 'patsearch' %}" >
              {% csrf_token %} 
                <input class="form-control " placeholder="search" aria-lable="Search" type="text" , name="searched" style="display: inline;
                width: 23%;"/>
                <button type="submit" class="btn btn-outline-secondary" style="margin: 7px 13px;line-height: 1.3;" >Search</button>
            </form>    
        </center>

        <div class="pages_pationt">
            <form method="POST" enctype="multipart/form-data" class="formpat">
                {% csrf_token %}  
                        {{patient_form}}
                        <button type="submit" class="btn btn-primary" style="margin: 7px 0;line-height: 1;">add</button>
                   
                    <table class="table table-responsive table-active table-striped table-responsive" style="text-align:center;">
                        
                <thead>
                    <tr class="bg-info">
                        <th fulltable-field-name="Id">&emsp;&emsp; Id &emsp;<br></th>
                        <th fulltable-field-name="Name">&emsp;&emsp; Name&emsp; <br></th>
                        <th fulltable-field-name="Email">&emsp;&emsp;Email <br> </th>
                        <th fulltable-field-name="gender">&emsp;Gender <br></th>
                        <th fulltable-field-name="age">&emsp;&emsp;Age <br></th>
                        <th fulltable-field-name="Adress">&emsp;Address <br> </th>
                        <th fulltable-field-name="Phone">&emsp;&emsp;Phone <br> </th>
                        <th fulltable-field-name="Blood">&emsp;Blood <br> </th>
                        <th fulltable-field-name="Bio">&emsp;&emsp;Bio <br> </th> 
                        <th fulltable-field-name="Selected">&emsp; &emsp;Options &emsp;<br> </th>

                    </tr>
                </thead>
                <tbody>
                    {%for pa in patient %}                    
                    <tr class="table-light">
                                <th>{{pa.Id}}</th>
                                <th>{{pa.Name}}</th>
                                <th>{{pa.Email}}</th>
                                <th>{{pa.Gender}}</th>
                                <th>{{pa.Age}}</th>
                                <th>{{pa.Address}}</th>
                                <th>{{pa.Phone}}</th>
                                <th>{{pa.Blood}}</th>
                                <th>{{pa.Bio}}</th>
                                
                                
                                
                                <th>
                                    <button type="" class="btn btn-primary" style="line-height: 1;"><a style="color: white; text-decoration: none;" href="{% url 'patient_update' pa.Id %}">Update</a></button>
                                    <button type="" class="btn btn-primary" style="line-height: 1;background: #db2525 !important;border-color: #db2525;"><a style="color: white; text-decoration: none;" href="{% url 'patient_delete' pa.Id %}">Delete</a></button>
                                </th>
                            </tr>
                        
                    {% endfor %} 
                </tbody> 
            </table>
                    </form>           
                    
                    
          
            </div>    
         
		
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	


{% endblock content %}




